

<div class="card" style="display: inline-block; vertical-align: top">
    <div class="card-inner">
     <div class="title" style="background-color: #4E86DF">
      <div>
       <div>
        <div>Victoria Peak</div>
       </div>
      </div>
     </div>
     <div class="bank-value">
      <div class="bank-value-inner">
       <span class="currency"></span><span class="amount">4</span>
      </div>
     </div>
     <table class="rent-rate">
      <tbody><tr class="header-row">
       <td colspan="2" class="help-heading">(No. of properties owned in set)</td>
       <td></td>
       <td colspan="2" class="rent-heading">RENT</td>
      </tr>
      <tr>
       <td class="set-count">
        <div class="set-count-inner">
         <div class="set-count-card set-count-card-3">
          <div class="set-count-card-top"></div>
          <div class="set-count-card-content">1</div>
         </div>
        </div>
       </td>
       <td class="filler" colspan="3">
        <div><div><div></div></div></div>
       </td>
       <td class="rent-rate">
        <div class="rent-rate">
         <span class="currency"></span><span class="amount">3</span>
        </div>
       </td>
      </tr>
      <tr>
       <td class="set-count">
        <div class="set-count-inner">
         <div class="set-count-card set-count-card-2">
          <div class="set-count-card-top"></div>
          <div class="set-count-card-content">1</div>
         </div>
         <div class="set-count-card set-count-card-3">
          <div class="set-count-card-top"></div>
          <div class="set-count-card-content">2</div>
         </div>
        </div>
       </td>
       <td class="filler" colspan="3">
        <div><div><div></div></div></div>
       </td>
       <td class="rent-rate">
        <div class="rent-rate">
         <span class="currency"></span><span class="amount">8</span>
        </div>
       </td>
      </tr>
      <tr>
       <td class="full-set"><div><span>FULL SET</span></div></td>
      </tr>
     </tbody></table>
    </div>
</div>

