

<div class="card" style="display: inline-block; vertical-align: top">
    <div class="card-inner">
     <div class="bank-value rotate-90">
      <div class="bank-value-inner">
       <span class="currency"></span><span class="amount">4</span>
      </div>
     </div>
     <div class="" style="margin: 2%; border: 4px double #ccc; height: 94%;">
      <table style="height: 100%; width: 100%; text-align: center">
       <tbody><tr>
        <td class="">
         <div class="money rotate-90">
          <span class="currency"></span><span class="amount">4</span>
         </div>
        </td>
       </tr>
      </tbody></table>
     </div>
     <div class="bank-value bottom rotate-90">
      <div class="bank-value-inner">
       <span class="currency"></span><span class="amount">4</span>
      </div>
     </div>
    </div>
</div>

