
<div class="card" style="display: inline-block; vertical-align: top">
    <div class="card-inner">
     <div class="title" style="background-color: MARKER_COLOR">
      <div>
       <div>
        <div>MARKER_TITLE</div>
       </div>
      </div>
     </div>
     <div class="bank-value">
      <div class="bank-value-inner">
       <span class="currency"></span><span class="amount">MARKER_MONEY</span>
      </div>
     </div>
     <table class="rent-rate">
      <tbody><tr class="header-row">
       <td colspan="2" class="help-heading">(No. of properties owned in set)</td>
       <td></td>
       <td colspan="2" class="rent-heading">RENT</td>
      </tr>
      MARKER_RENT_ROW
      <tr>
       <td class="full-set"><div><span>FULL SET</span></div></td>
      </tr>
     </tbody></table>
    </div>
</div>

